<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Internt Server fel...</title>
</head>
<body>
    <h1>Windows sad face... ;(</h1>
    <p>life is like a box of choklates, dont use windows!</p>
</body>
</html>