@using DependencyInjectionProject.Models
@model IndexVM

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dependency Injection</title>
</head>
<body>
    <h1>@Model.Header</h1>
    <p>@Model.Body</p>
    <br />
    <a href="Home/Lol">HTTP-404 site not found</a>
    <br />
    <a href="Home/Test">HTTP-500 internal server error</a>
</body>
</html>